/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.recoverybtn {
    padding: 14px 20px;
    background-color: #14cece;
}

/* Extra styles for the register button */
.registerbtn {
    padding: 14px 20px;
    background-color: #F6B53F;
}

/* Float cancel and signup buttons and add an equal width */
.recoverybtn,.signupbtn,.registerbtn {
    float: left;
    width: 33.33%;
}

/* Add padding to container elements */
.container {
    padding-top: 3%;
    padding-left: 16%;
    padding-right: 16%;
}

.form_inside {
    padding-top: 10%;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 16%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .recoverybtn, .signupbtn, .registerbtn
    {
       width: 100%;
    }
}
